/* App.css */
html, body {
  height: 100%; /* ทำให้ body มีความสูงเต็มจอ */
  margin: 0;
}




.app {
  max-width: 1080px;
  margin: auto;
  height: 100%;
}



.content {
  display: flex;
  flex: 1;
  flex-direction: row; /* ทำให้เรียงต่อกันแนวนอน */
}